.top-line {
    background-color: var(--color-nevy-blue);
    font-size: 14px;
    font-weight: bold;
}

.top-line .top-line-space {
    padding: 10px 180px;
}

.top-line .f-div  {
    color: rgb(209, 218, 225);
}

.top-line .mail-btn,
.top-line .sms-btn {
    border: none;
    padding: 3px 12px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.top-line .mail-btn {
    background-color: rgb(209, 218, 225);
}

.top-line .sms-btn,
.contact-sec .btn-send {
    background-color: var(--color-cyan);
}

.modal-footers button:hover,
.contact-sec .btn-send:hover {
    background-color: var(--color-nevy-blue);
}

.top-line .btn1 div div {
    padding: 10px 0;
    border: 1px solid rgb(176, 171, 171);
    margin: 10px 0;
    display: flex;
    border-radius: 10px;
    background-color: white;
}

.body-modal{
    position: relative;
    width: 100%;
    max-width: 340px;
    border-radius: 20px;
    padding: 22px 10px ;
}
.close-btn {
    position: absolute;
    top: -15px;
    right: -13px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 6px;
    border-radius: 50%;
    border: solid 2px white;
}
.close-btn:hover {
    background-color: white;
    color:var(--color-dark-gray);
    border: 2px solid var(--color-dark-gray);
}
.btn-2 div div{
    margin: -1px !important;
}
.top-line .btn1 div div select {
    color: rgb(131, 133, 138);
}

.top-line .btn1 div div input,
.top-line select,
.top-line textarea {
    border: none;
    outline: none;
    
}

.top-line .e-icon {
    margin: 0 10px;
    font-size: 19px;
    color: rgb(101, 97, 97);
}

.modal-footers button,
.contact-sec .btn-send {
    padding: 15px 19px;
    color: rgb(228, 228, 228);
    border: none;
}

.bg-gray{
    background-color: rgb(206, 208, 209);
}
.title-modal h1{
    color: rgb(96, 98, 99);
    font-weight: 600;
    height: 40px;
    font-size: 22px;
}

/* --------------------------------- About Name */
.about-sec {
    background-image: url('../img/asset\ 52.png');
    background-color: var(--color-cyan);
}

.about-sec .about-space {
    height: 90px;
    padding: 0px 180px;

}

.about-sec .mini-name {
    font-size: 12px;
}


/* {--------------------------- Start Description About us ------------------------------} */
.disc-about-sec {
    font-size: 13px;
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 40px;
}

.disc-about-sec {
    padding: 0px 190px;
}

.a1-font p {
    margin-bottom: 20px;
}

.disc-about-sec .a1-font {
    padding-top: 5px;
}

.disc-about-sec .a1-font,
.con-div ul li {
    line-height: 20px;
    font-weight: 500;
}

.disc-about-sec .a1-font ul li {
    line-height: 25px;
}

.disc-about-sec table {
    margin-top: 65px;
}

.disc-about-sec table tr th {
    padding: 10px;
    text-align: end;
    background-color: rgba(242, 244, 246, 0.5);
}

.disc-about-sec table tr td {
    padding-left: 10px;
}

.disc-about-sec table tr th,
.disc-about-sec table tr td {
    border: 1px solid rgba(142, 142, 142, 0.5);
}

/* ---------------------------------- */
.disc-about-sec .prod-div {
    border-bottom: 2px solid #008B8B;
    padding: 12px 12px 6px 10px;
}

.link-col ul {
    padding: 0;
}

.link-col ul li,
.con-div ul {
    list-style: none;
    padding: 0;
    /* line-height: 19.5px; */
}

.prod-div h1 {
    font-size: 16px;
    font-weight: 700;
}

.prod-div h1 a:hover,
.link-col ul li a:hover,
.con-div ul li a:hover .p1-about a:hover {
    text-decoration: none;
}

.disc-about-sec .link-col {
    padding: 10px;
}

.accord-p .link-col span a {
    color: rgb(118, 116, 116);
    font-weight: 600;
    line-height: 19.5px !important;
}

.disc-about-sec .link-col .ul-style {
    padding: 10px 0 !important;
    margin: 0;
    border-bottom: 0.1px solid rgba(142, 142, 142, 0.2);
}

.disc-about-sec .link-col .ul-style:last-child,
.con-div ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.disc-about-sec .link-col .ul-style li a {
    color: var(--color-nevy-blue);
    font-weight: 700;
    line-height: 25px;
}

.disc-about-sec .link-col ul li ul li a {
    color: var(--color-light-gray) !important;
    font-weight: 500 !important;
}

.disc-about-sec .link-col ul li ul li a:hover {
    color: var(--color-dark-gray) !important;
}

.con-div ul {
    padding: 0px 10px;
}

.con-div ul li {
    text-align: left;
    border-bottom: 0.1px dashed rgba(142, 142, 142, 0.5);
    font-size: 13px;
    padding: 10px 0;
}

.mail-wrap {
    word-wrap: break-word;
}

/* --------------------------------------- Contact US */
.contact-sec {
    padding: 20px 170px 20px 170px;
}

.contact-sec,
.contact-sec .contact a {
    font-size: 14.3px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

.contact-sec .contact p {
    display: flex;
    margin-bottom: 20px;
}
.ms{
    margin-left: 31px;
}
.contact-sec .cont-icon {
    margin-right: 14px;
    font-size: 17px;
}
.contact-sec .cont-bg h1{
    font-size: 20px;
    font-weight: 600;
}
.contact-sec .cont-bg {
    background-color: rgba(197, 201, 202, 0.3);
}

.contact-sec .pad {
    padding: 35px 45px 40px 48px;
}

.contact-sec .row input,
.contact-sec textarea,
.contact-sec select {
    padding: 12px 3px;
}
.contact-sec .cont-bg .row div {
    display: flex;
    background-color: white;
    margin: 5px 0px;
}
.contact-sec .div-border {
    border: 1px solid rgba(195, 190, 190, 0.8);
}
.contact-sec .div-border input,
.contact-sec .div-border textarea,
.contact-sec .div-border select{
    width: 100%;
    border: none;
    outline: none;
} 
.contact-sec .div-border input::placeholder,
.contact-sec .div-border textarea::placeholder,
.contact-sec .div-border select{
    font-size: 13px;
    color: var(--color-light-gray);
} 

.contact-sec .div-border span {
    color: red;
    font-size: 25px;
    font-weight: 100;
}

.theme-bg{
    background-color: var(--color-cyan);
}
/* -----------------------sliders */
.sli .pad-div {
    width: 300px;
    padding: 10px;
}

.sli .img-w {
    background-color: rgba(239, 232, 232, 0.4);
    height: 200px;
}


/* ---------------------------------------------- Mini Footer */
.mini-footer .general-link a {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}

.mini-footer .general-link {
    font-weight: bold;
    line-height: 19.5px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    overflow-wrap: break-word;
}

.error {
    color: red;
}