@media (min-width:2560px) {
    .full-pad {
        padding-left: 600px !important;
        padding-right: 600px !important;
    }

    .banner .one {
        display: none;
    }

    .top-line .top-line-space {
        padding: 10px 0 !important;
    }

    .about-sec .about-space {
        padding: 10px 0 !important;
    }

}

@media (min-width:1440px) {
    .banner .one::before {
        border-left: 1440px solid transparent !important;
    }
}

@media (min-width:1255px) and (max-width:2560px) {
    .header {
        padding: 0 170px !important;
    }
}

@media (max-width:1255px) {

    .top-line .top-line-space,
    .about-sec .about-space {
        padding: 10px 20px !important;
    }

    .disc-about-sec {
        padding: 10px 30px !important;
    }

    .footer-bg {
        padding: 15px 30px 15px 30px !important;
    }

    .spacer-p-name {
        padding: 45px 30px !important;
    }

    #contact-sec {
        padding: 22px 40px !important;
    }
}

@media (max-width:1200px) {

    .featured-main .img-w {
        /* width: 215px !important;
        height: 215px !important; */
    }

    .featured-main .f4-img img {
        /* top: 3px !important;
        width: 210px !important;
        height: 220px !important; */
    }

    .featured-main .f5-img .sub-img img,
    .featured-main .f6-img .sub-img img {
        /* height: 150px !important;
        width: 215px !important;
        top: 30px !important; */
    }

    .fruit-div {
        padding: 2% !important;
    }
}

@media (min-width:767px) and (max-width:991px) {
    .end-justify {
        display: flex;
        justify-content: end !important;
    }

    .start-justify {
        display: flex;
        justify-content: start !important;
    }

    .container1 {
        grid-gap: 15px !important;
    }

}

@media (max-width:767px) {
    .container1 {
        grid-gap: 10px 15px !important;
    }
}

@media (max-width:1024px) {
    .spacer-speaks {
        padding: 30px 18px !important;
    }

    .header {
        padding: 0 12px !important;
    }

    .top-line .top-line-space,
    .about-sec .about-space,
    .disc-about-sec {
        padding: 10px 10px !important;
    }
}

@media (min-width:1024px) {

    .banner .one::before {
        content: '';
        position: absolute;
        left: 0;
        border-bottom: 120px solid white;
        border-left: 1024px solid transparent;
        width: 0;
    }

    .banner .relate-cross {
        position: relative;
    }

    /* .banner .cross {
        margin-top: -120px;
        top: 0;
        left: 0;
    } */

    /* .banner {
        margin-bottom: 95px;
    }
     */
}

/* ------------------------------------------------ */
@media(max-width:830px) {
    .header .navbar {
        display: none ;
    }
}

/* ------------------------------------------------ */
@media(max-width:768px) {
    .footer-bg {
        padding: 15px 30px;
    }

    .featured-main {
        padding: 40px 25px 0px 25px !important;
    }

    .spacer-p-name {
        padding: 40px 20px !important;
    }

    .pad-0 {
        padding: 0px 5px;
    }

    #contact-sec {
        padding: 23px 15px 0 15px !important;
        margin: 0;
    }

    .banner .box {
        display: none;
    }

    .banner .cap-text {
        text-align: left;
        margin-top: 5% !important;
        margin-left: 15% !important;
        line-height: 10px !important;
    }

    .banner .cap-text .h {
        font-size: 30px !important;
        font-weight: 700;
    }

    .banner .cap-text p {
        font-size: 14px !important;
    }

}

@media(min-width:768px) {
    .about-section {
        display: none;
    }
}

@media(max-width:767px) {
    .a2-font {
        display: none;
    }
}

@media(min-width:678px) {

    section .accord-p,
    .footer-bg .accordion,
    .hide-fb-icon {
        display: none;
    }
}

@media(max-width:678px) {

    .pname-div,
    .footer-bg .hide-footer-row {
        display: none;
    }
}

/* ------------------------------------------------ */
@media(max-width:576px) {
    #mini-footer .t-center {
        margin-bottom: 15px;
    }
}

@media(max-width:426px) {
    .header {
        padding: 0px !important;
    }

}


/* -------------------------------------------------------------------------------------------------- */
@media(max-width:641px) and (max-width:1150px) {
    #contact-sec {
        padding: 22px 0px !important;
    }
}

@media(max-width:992px) {
    .top-line {
        display: none;
    }
}
/* @media(min-width:993px) {
    .header .three-dots{
        height: auto;
        display: none;
    }
} */

@media (min-width:641px) {
    .row .row-1 {
        flex-direction: column;
    }

    .col1 {
        width: 25%;
    }

    .col2 {
        width: 75%;
    }
}

@media (max-width:641px) {

    #contact-sec .pad {
        padding: 30px 20px !important;
        margin-bottom: 16px;
    }
}

@media (max-width:481px) {

    #contact-sec .cont-bg .col1,
    #mini-footer .row-3 .col1  ,
    #contact-sec .cont-bg .col2 ,
    #mini-footer .row-3 .col2
    {
        width: 100% !important;
    }

}