@media (min-width:2560px) {
    .full-pad {
        padding-left: 600px !important;
        padding-right: 600px !important;
    }

    .banner .one {
        display: none;
    }

    .top-line .top-line-space {
        padding: 10px 0 !important;
    }

    .contact-sec {
        padding: 0 !important;
    }
}

@media (min-width:1250px) {
    .featured-main {
        padding: 80px 200px 10px 200px !important;
    }

}

@media (min-width:1440px) {
    .banner .one::before {
        border-left: 1440px solid transparent !important;
    }

    .contact-sec {
        padding: 40px 170px 20px 170px !important;
    }

}
@media (min-width:2470px) {
    .featured-main{
        padding: 0 600px !important;
    }
}
@media (min-width:1200px) {
    .featured-main .justify-start {
        padding-left: 30px;
        display: flex;
        justify-content: start;

    }

    .featured-main .justify-end {
        padding-right: 10px;
        display: flex;
        justify-content: end;
    }
}

@media (max-width:1181px) {
    header {
        padding: 0 30px !important;
    }

    .about-sec .about-space {
        padding: 10px 35px !important;
    }

    .container {
        /* max-width:  fit-content !important; */
    }

    .range-sec .range-div-w {
        width: 227px !important;
    }

    .range-sec .range-img-w{
        width: 205px !important;
    }

    .featured-main .img-w {
        width: 215px !important;
        height:  215px !important;
    }
    .featured-main .f5-img .sub-img img ,.featured-main .f6-img .sub-img img{
        height: 150px !important;
        width: 215px !important;
        top: 30px !important;
    }

}

@media (min-width:1397px) {
    .range-sec {
        padding: 50px 150px!important;
    }

}

@media (max-width:1024px) {
    .spacer-speaks {
        padding: 30px 18px !important;
    }

    header {
        padding: 0 12px !important;
    }

    .top-line .top-line-space,
    .about-sec .about-space,
    .disc-about-sec {
        padding: 10px 10px !important;
    }
}

@media (min-width:1024px) {

    .banner .one::before {
        content: '';
        position: absolute;
        /* top: 0; */

        left: 0;
        border-bottom: 120px solid white;
        border-left: 1024px solid transparent;
        width: 0;
    }

    .banner .relate-cross {
        position: relative;
    }

    .banner .cross {
        margin-top: -120px;
        top: 0;
        left: 0;
    }

    .banner {
        margin-bottom: 95px;
    }



}

/* ------------------------------------------------ */
@media (max-width:978px) {

    header .logo img {
        width: 238px !important;
        padding: 0px !important;
    }
}


@media(max-width:814px) {
    .navbar {
        display: none;
    }

    header {
        justify-content: flex-start !important;
    }

}

@media(min-width:814px) {
    .canvas {
        display: none;
    }
}

/* ------------------------------------------------ */
@media(max-width:768px) {
    .footer-bg {
        padding: 20px 35px;
    }

    .featured-main {
        padding: 20px 40px 0px 40px !important;
    }

    .spacer-p-name {
        padding: 40px 20px !important;
    }

    .banner .box {
        display: none;
    }

    .banner .cap-text {
        text-align: left;
        margin-top: 5% !important;
        margin-left: 15% !important;
        line-height: 10px !important;
    }

    .banner .cap-text .h {
        font-size: 30px !important;
        font-weight: 700;
    }

    .banner .cap-text p {
        font-size: 14px !important;
    }

    .top-line {
        display: none;
    }
}

@media(min-width:768px) {
    .footer-bg {
        padding: 35px 200px;
    }

    .about-section {
        display: none;
    }
    
    .spacer-p-name {
        padding: 55px 180px 40px 180px;
    }

}

@media (max-width:767px) {
    .a2-font {
        display: none;
    }

}

@media (min-width:960px) and (max-width:1015px),
(min-width:705px) and (max-width:760px) {
    .container1 {
        padding: 0 100px;
    }
}

@media(min-width:678px) {
    section .accord-p {
        display: none;
    }
}

@media(max-width:678px) {
    .pname-div {
        display: none;
    }
}

/* ------------------------------------------------ */
@media(max-width:576px) {
    .t-center{
        text-align: center !important;
        margin-bottom: 10px;
    }
}
@media(max-width:426px) {
    header {
        padding: 0px !important;
    }
    
}

@media(max-width:320px) {
    header .logo img {
        width: 200px !important;
    }
    
}
 